{# templates/jinja.html #}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <script src="https://kit.fontawesome.com/1194a10758.js" crossorigin="anonymous"></script>
  <title>Jinja2</title>
  <a class="backmenu" href="/"><i class="fa-solid fa-computer"></i> Menú princial</a>
</head>
<body>
  <h2> ¡Hola! estoy utilizando:</h2> <h1> {{ eng }} </h1>
  <i class="fa-solid fa-computer"></i> 
<p font-family: verdana>El creador de esta página es:</p>
<h1 align="center">{{ mt }}</h1>
</body>
<style>
h1 {
  color: red;
  font-family: 'fantasy', fantasy;
  font-size: 300%;
}
h2 {
    font-family: 'Courier New', Courier, monospace
}

p {
    font-family: 'Courier New', Courier, monospace
}
</style>
</html>